@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-color: #000;
    --text-color: white;
    --text-2-color: #808080;
    --borders-color: #333;
    --code-color: #252525;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.code-font {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
}

.cm-theme {
    height: 100%;
    width: 100%;
}

#description-body > p {
    width: calc(100% - 26px);
    margin-bottom: 20px;
    margin-top: 20px;
}
#description-body > p > code,
#description-body > p > em > code {
    background-color: var(--code-color);
    border-radius: 4px;
    padding: 0px 6px;
}

#description-body > pre {
    width: calc(100% - 26px);
    overflow-x: scroll;
    background-color: var(--code-color);
    padding: 10px 16px;
    border-radius: 4px;
    box-sizing: border-box;
}
#description-body > ul {
    width: calc(100% - 26px);
}
#description-body > ul > li {
    margin-bottom: 8px;
    margin-top: 8px;
    list-style: inside;
}

#description-body > ul > li > code {
    overflow-x: scroll;
    background-color: var(--code-color);
    padding: 1px 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

#description-body > h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#description-body > h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cm-line,
.cm-gutters,
.cm-editor,
.cm-lineNumbers,
.cm-foldGutter {
    background-color: black;
}

.cm-activeLineGutter,
.cm-activeLine {
    background-color: #1d1d1d !important;
}
.cm-foldPlaceholder {
    background-color: black !important;
    border: none !important;
}

.hover-easy-bg-color:hover {
    background-color: #22c55e;
}
.hover-medium-bg-color:hover {
    background-color: #f97316;
}
.hover-hard-bg-color:hover {
    background-color: #dc2626;
}
.hover-easy-bg-color:hover .difficulty-text {
    color: black;
}
.hover-medium-bg-color:hover .difficulty-text {
    color: black;
}
.hover-hard-bg-color:hover .difficulty-text {
    color: black;
}
.hover-easy-bg-color:hover .status-color {
    border-color: black;
}
.hover-medium-bg-color:hover .status-color {
    border-color: black;
}
.hover-hard-bg-color:hover .status-color {
    border-color: black;
}

.submission-code-block {
    width: calc(100% - 52px);
    font-size: 14px;
    overflow: hidden;
    height: 42px;
    overflow-x: scroll;
    background-color: var(--code-color);
    padding: 10px 16px 3px 16px;
    border-radius: 4px;
    box-sizing: border-box;
}
.submission-error-block {
    width: calc(100% - 52px);
    height: fit-content;
    font-size: 14px;
    overflow: auto;
    background-color: var(--code-color);
    padding: 10px 16px;
    border-radius: 4px;
    box-sizing: border-box;
}
